/* 
	Breakup allows SASS to compile IE8 compatible stylesheets by changing the
	$breakup-naked variable to true or false.
	it works by wrapping all media queries into a SASS mixin that can be deactivate 
	at will 
*/
@import "lib/breakup"; 

//	Breakup settings
$breakup-breakpoints: (
  'thin' '(max-width: 600px)',
  'medium' '(min-width: 600px)',
  'wide' '(min-width: 1000px)',
  'xl' '(min-width: 1400px)'
);

$breakup-included-blocks: ('basic' 'thin' 'medium' 'wide' 'xl');
$breakup-naked: false;
$breakup-breakpoints-allow-naked: ('basic' 'thin' 'medium' 'wide' 'xl');

@import "app";


